<!-- Desktop  -->
<div class="topic topic-{{include.topic-class}} topic-bkg container-fluid">
    <span class="hidden-sm-up topic-cover-bkg" style="background:url({{include.imageXS}});"></span>
    <span class="hidden-xs-down topic-cover-bkg" style="background:url({{include.image}});"></span>
    <h2 class="font-title">{{ include.title }}</h2>
    <div class="navigation-down text-center">
        <span class="next-section-anchor white">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-blue.svg" alt="Scroll or swipe for more">
        </span>
    </div>
</div>
