<section id="menu" class="container-fluid">
    <ul class="menu-ul">
    {% for item in site.data.nav.menu %}
    <li class="check-list" data-target="topic-{{ item.topic }}">
        <input type="checkbox" class="checkbox-topic-{{ item.topic }}">
        <label for="{{ item.url }}" class="item-title">{{ item.name }}</label>
    </li>
    {% endfor %}
    </ul> 

    
    <div class="menu-footer">
            <div class="menu-footer-logo"></div>
            <div class="contact-footer-tagline" onclick="goToAbout(this);">
                <p>Katz Architecture & <br> Project Management</p>
            </div>
    </div>

</section>