<div class="topic topic-hidden topic-{{include.topic-class}} cover">{% include 1_cover.html %}</div>
<div class="topic topic-hidden topic-{{include.topic-class}} menu">{% include 2_menu.html %}</div>
{% assign cover_img = site.url | append: site.baseurl | append: site.data.building-management.image %}

{% include _parts/topic-cover.html 
    topic-class=include.topic-class
    title=site.data.building-management.title
    image= cover_img
%}

{% include _parts/content-two-cols.html 
    topic-class=include.topic-class
    data=site.data.building-management
%}

<div id="grid-management" class="topic topic-{{include.topic-class}} container-fluid">
    
    <h2 class="font-title hidden-xs-down">{{site.data.building-management.title_properties}}</h2>
    <div class="row text-content">
            <div class="row grid-container">
                <!-- Gallery -->
                {% for item in site.data.building-management.slides %}
                <div class="col-4 col-sm-2">
                    <div class="grid-item" onclick="moveTo(6, {{ forloop.index }},'.overlap-gallery', true )">
                        <span class="blue-filter"></span>
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/building-management/slides/{{{item.thumbnail}}" alt="{item.info}}" class="img-fluid property-image">
                        <div class="detail-tooltip">{{item.address}}<div class="detail-tooltip-location">{{item.location}}</div></div>
                    </div>
                </div>
                {% endfor %}
            </div>

             <!-- Slideshow -->
    </div>
     {% include _parts/back-to-menu.html class="mobile-relative" %}
</div>


<div class="topic topic-{{include.topic-class}} container-fluid gallery-container ignore">

    <div class="overlap-gallery container-fluid hidden gallery-with-padding">  
        {% for item in site.data.building-management.slides %}
            <div class="slide">
                <div class="text-content full-height">
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="font-title-detail">{{item.address}}</h2>
                            <h4 class="font-subtitle-detail">{{item.location}}</h4>
                            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/building-management/slides/{{{item.image}}" alt="{item.address}}" class="float-right img-fluid hidden-sm-up property-mobile-img">
                            <div class="font-content-detail-italic">{{item.stats}}</div>
                            <div class="font-content-detail">{{item.description}}</div>
                        </div>
                        <div class="col-sm-6">
                            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/building-management/slides/{{{item.image}}" alt="{item.address}}" class="float-right property-desktop-img img-fluid hidden-sm-down">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div class="galleryCloseBtn navigation-down text-center" onclick="closeGallery(this, 5)">
        <span  class="back-to-menu black">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/close-white.svg" alt="Menu">
        </span>
    </div>
    
</div>