

.check-list {
  list-style-type: none;

}

.menu.fixed{
  position: fixed;
  top:0;
}
.menu .check-list {
  @include katz-checkbox(_palette(_katz-primary), _palette(_katz-secondary));
}

.cover {
  &.gone{
    padding:0!important;
    height:0!important;
    display:none!important;
  }
  color: _palette(_katz-secondary) !important;
  background-color: _palette(_katz-primary) !important;

  .check-list {
    @include katz-checkbox(_palette(_katz-secondary), _palette(_katz-primary));
  }

}

.menu-ul{
  .item-title{
     &:hover {
      opacity: .8;
    }
  }
}

.cover{
  cursor: pointer;
}
.cover-ul, .menu-ul{
  padding-left:0;
  height: 100%!important;

  .item-title{
   

    letter-spacing: -1px;
    font-size: 24px;
    font-family: Graphik;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    color: _palette(_katz-primary);

    @include respond-to(md) {
      font-size: 48px;
      line-height: 1.23;
      letter-spacing: -1.2px;
    }
    @include respond-to(lg) {
      font-size: 56px;
    }

    
  }

}

.menu {

  color: _palette(_katz-primary) !important;
  background-color: _palette(_katz-secondary) !important;

  .check-list {
    @include katz-checkbox(_palette(_katz-primary), _palette(_katz-secondary));
  }

}

.navigation-down{
  width: 100%;
  position: absolute !important;
  bottom: 70px;
  z-index: 999999;

  @include respond-to(sm) {
      bottom: 35px;
    }
  .back-to-menu, .next-section-anchor{
    
    cursor:pointer;
    width: 36px; 
    height: 36px;
    
    

    &.white{
      background: rgba(256,256,256, 0.4);
      padding: 9px 3px;
    }

    &.black{
       background: rgba(0,0,0, .25);
      padding: 9px 3px;
    }
  }
}

#menu, #cover {
  height: 100%;
  padding-top:28px;
  @include respond-to(md) {
    padding-top:32px;
  }
}

.slide-wrapper{
  position: relative;
  .info-button {
    background-image: url("../assets/images/info.svg");
    opacity: 0.5;
    width: 36px;
    height: 36px;
    position: absolute;
    cursor: pointer;
    bottom: 30px;
    left: 15px;
    display: block;
    z-index: 999999999999999;
  }

  .info-credits{
    color: _palette(_katz-primary);
    background-color: #ffffff;
    padding: 15px;
    position: absolute;
    bottom: 75px;
    left: 15px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 999999;

    &.hidden{
      opacity: 0;
      transition: all 0.5s ease;
    }

    h6{
      font-family: Miller-Text;
      font-size: 16px;
	    font-weight: bold;
	    line-height: 1.19;
    }

    .close-info{
      min-width: 22px;
      height: 22px;
      cursor: pointer;
      float: right; 
    }
    
    p{
      font-style: italic;
    }
    @include respond-to(sm) {
      width: 50%;
    }
  }
}